<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount to Pay: <%= "#{number_to_currency(@ordertotal, locale: :en)}" %></span>
    </label>
    <p>
      <%= link_to "Continue Shopping", products_path %>
    </p>
  </article>

  <%= hidden_field_tag(:amount, @ordertotal * 100) %>
  <%= hidden_field_tag(:orderid, @order.id) %>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Test Purchase"
          data-amount= <%= @ordertotal * 100 %>
          data-locale="auto"></script>
<% end %>